# Suppress "old lockfile" and other warnings during install.
# Remove this if you need to see warnings (e.g. peer dep issues).
loglevel=error

@ttn:registry=http://10.100.1.64:8081/repository/npm-local/
//10.100.1.64:8081/repository/npm-local/:_auth=YXBwX3VzZXI6N19xNXFpRUglMFoh
always-auth=true
auth-type=legacy
